<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <joint name="imu_joint" type="fixed">
        <parent link="chassis"/>
        <child link="imu_frame"/>
        <origin xyz="0.2 0 0.155" rpy="0 0 0"/>
    </joint>

    <link name="imu_frame">
        <visual>
            <geometry>
                <box size="0.01 0.01 0.01"/>
            </geometry>
            <material name="orange"/>
        </visual>
        <collision>
            <geometry>
                <box size="0.01 0.01 0.01"/>
            </geometry>
        </collision>
    </link>
    
    <gazebo reference="imu_frame">
        <material>Gazebo/Orange</material>
        <sensor name="imu" type="imu">
            <always_on>true</always_on>
            <update_rate>100</update_rate>
            <visualize>true</visualize> 
            <topic>__default_topic__</topic>
            
            <plugin name="imu" filename="libgazebo_ros_imu_sensor.so">
                 <ros>
                     <argument>~/out:=~/data</argument>
                 </ros>
                 <topicName>imu_frame</topicName>
                 <bodyName>imu_frame</bodyName>
                 <gaussianNoise>0.0</gaussianNoise>
                 <xyzOffset>0 0 0</xyzOffset>
                 <rpyOffset>0 0 0</rpyOffset>
                 <frameName>imu_frame</frameName>
                 <initialOrientationAsReference>false</initialOrientationAsReference>   
            </plugin>
            <pose>0 0 0 0 0 0</pose>
        </sensor>
    </gazebo>


    

  
</robot>
